/* style.css */

body { /* Страницата */
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #1F2937;
  color: #fff;
  font-size: 0.75vw;
  text-align: center;
}
header { /* Горната част на страницата */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 0.15vw solid #4b69A8;
  background: linear-gradient(to right, #1a235e, #3b5998);
  color: #fff;
}
.logo a { /* Горе вляво ("лого") */
  text-decoration: none;
  color: #ffffff;
  margin: 0 1vw;
  border-radius: 5px;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
  font-size: 2vw;
}
.logo a:hover {
  color: #bbbbbb;
}
/* Размери на текст за съвместимост */
h1 {
  font-size: 2vw;
}
h2 {
  font-size: 1.5vw;
}
h3 {
  font-size: 1vw;
}
footer { /* Footer - долната част на страницата */
  background-color: #1a232f;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1vw;
}
footer a {
  color: #4d73c6;
}
footer a:hover {
  color: #6193ff;
}
nav a { /* Линкове в горната част на страницата */
  text-decoration: none;
  color: #ffffff;
  margin: 0 1vw;
  border-radius: 5px;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
  font-size: 1vw;
}
nav a:hover {
  color: #bbbbbb;
}
main { /* Основна част */
  padding: 20px;
}
.intro { /* "Добре дошъл" текст */
  margin: 10px 0;
  background: #2D3E50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
button { /* Бутоните в задачите след всеки урок */
  background-color: #456abb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.subject-content { /* Отделна част, "кутия" */
  margin-top: 20px;
  position: relative;
  text-align: left;
  background: #2D3E50;
  padding: 20px;
  padding-left: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subject-section-title { /* "Кутия" вид 2 */
  margin-top: 20px;
  position: relative;
  text-align: left;
  background: #212e3b;
  padding: 5px;
  padding-left: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
main a {
  text-decoration: none;
  color: #ffffff;
}
.pointer-cursor:hover { /* Бутоните за уроците да действат като линкове */
  cursor: pointer;
}
/* Размери на текст за съвместимост */
p, li, td {
  font-size: 1vw;
  line-height: 1.3em;
}
.content { /* Вътрешната част на кутиите */
  margin-top: 20px;
}
#contentLit, #contentBulg, #contentMat { /* Скрива съдържанието във всеки урок, докато се избере това, което ни трябва, за по-гладко зареждане */
  visibility: hidden;
}
table, th, td { /* Таблица */ 
  border: 1px solid lightgray;
  border-collapse: collapse;
}
/* Размери за съвместимост с мобилни устройства */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  h3 {
    font-size: 3vw;
  }
  nav a {
    margin: 0 2vw;
    font-size: 5vw;
  }
  .logo a {
    margin: 0 1vw;
    font-size: 7vw;
  }
  main {
    padding: 10px;
  }
  .intro, .subject-content, .subject-section-title {
    width: 90%;
    padding-left: 20px;
    margin: 15px auto;
  }
  .subject-content img {
    position: relative;
    right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  p, li, td {
    font-size: 3vw;
    line-height: 1.5em;
  }
}  